<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Editar Evento</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-5">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Prima guardar após terminar as alterações</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
              <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
