<p id="notice"><%= notice %></p>

<p>
  <strong>Precohora1:</strong>
  <%= @pagamento.precoHora1 %>
</p>

<%= link_to 'Edit', edit_pagamento_path(@pagamento) %> |
<%= link_to 'Back', pagamentos_path %>
